{% extends 'company_templates/baseComp.html' %}

{% block title %}Response to Posts{% endblock %}

{% block styles %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Add your custom styles here -->
  <style>
    .resume-card {
      margin-bottom: 20px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
      padding: 20px;
    }

    .resume-card h4 {
      margin-top: 0;
    }

    .resume-card p {
      margin-bottom: 0;
    }

    .resume-card .resume-details {
      margin-top: 10px;
    }

    @keyframes pulse {
      0% {
          opacity: 1;
      }
      50% {
          opacity: 0.5;
      }
      100% {
          opacity: 1;
      }
    }

  </style>
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>Response to "{{ job_post.title }}"</h1>
    <div class="row mt-4">
      {% for shortlisted_resume in shortlisted_resumes %}
        <div class="col-md-6">
          <div class="card resume-card">
            <div class="card-body">
              <h4 class="card-title">{{ shortlisted_resume.resume_id.name }}</h4>
              <p class="card-text">Contact: {{shortlisted_resume.contact_details}} </p>
              <div class="resume-details">
                  <p>Score: {{ shortlisted_resume.resume_score }}</p>
              </div>
              <div class="text-right">
                <a href="{{ shortlisted_resume.resume_file.url }}" class="btn btn-primary" download>Download Resume</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if shortlisted_resumes|length == 0 %}
      <h3 class="alert alert-warning" style="animation: pulse 2s infinite;">No Data Here</h3>
    {% endif %}


  </div>
{% endblock %}

{% block scripts %}
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
