{% extends 'recruiter_templates/baserec.html' %}

{% block title %}Job Detail{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
{% endblock %}

{% block content %}


<div class="container mt-4 mb-4">

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="font-weight-bold">{{ job.title }}</h1>
                    <p class="text-muted">Posted by <strong>{{ job.posted_by.name }}</strong> on {{ job.date_posted|date }}</p>
                </div>
                
                <div class="col-md-4 text-right">
                  
                  <form method="post" action="{% url 'send_resumes' job.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Send Resumes</button>
                </form>
                

              </div>

              
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <h5 class="font-weight-bold">Job Description</h5>
                    <p class="card-text">{{ job.description|linebreaks }}</p>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Job Details</div>
                        <div class="card-body">
                            <p class="card-text"><strong>Location:</strong> {{ job.location }}</p>
                            <p class="card-text"><strong>Salary:</strong> {{ job.salary }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h5 class="font-weight-bold">Eligibility Criteria</h5>
                    <p class="card-text">{{ job.eligibility_criteria|linebreaks }}</p>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Skills Required</div>
                        <div class="card-body">
                            <p class="card-text">{{ job.skills_required|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  
{% endblock %}
